*{
  margin: 0;
  padding: 0;
}
.container {
  font-family: Arial, sans-serif;
  text-align: center;
  padding: 20px;
  height: 100vh;
}

.light {
  background-color: #f0f0f0;
  color: #333;
}

.dark {
  background-color: #333;
  color: #f0f0f0;
}

button {
  padding: 10px 20px;
  background-color: #FF3EA5;
  color: #fff;
  border: none;
  cursor: pointer;
  font-size: 16px;
  margin-top: 20px;
}
